<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>Glance uses your location to show local weather in the status bar.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Glance uses your location to show local weather in the status bar.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Glance uses Bluetooth to show connected devices and battery levels in the status bar.</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.1</string>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Glance Preset</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>glance</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Glance Preset</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>glance</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>SUPublicEDKey</key>
	<string>xana+i2P74Z6YWL8lqsY23+g7Y3lT4BqWVCV8gS4jd4=</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/azixxxxx/glance/main/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
